body{
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(https://steamuserimages-a.akamaihd.net/ugc/93854504777963555/7932DF19518D730DD0E1612DDA5032FA24DF1557/?imw=512&amp;imh=320&amp;ima=fit&amp;impolicy=Letterbox&amp;imcolor=%23000000&amp;letterbox=true);
}